[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "bundle/vimtweak"]
	path = bundle/vimtweak
	url = https://github.com/mattn/vimtweak
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/visincr"]
	path = bundle/visincr
	url = https://github.com/vim-scripts/visincr
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-perforce"]
	path = bundle/vim-perforce
	url = https://github.com/nfvs/vim-perforce.git
[submodule "bundle/vim-lldb"]
	path = bundle/vim-lldb
	url = https://github.com/gilligan/vim-lldb.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/vim-ripgrep"]
	path = bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/zig.vim"]
	path = bundle/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "bundle/odin.vim"]
	path = bundle/odin.vim
	url = https://github.com/Tetralux/odin.vim.git
[submodule "bundle/vim-godot"]
	path = bundle/vim-godot
	url = https://github.com/habamax/vim-godot
[submodule "bundle/vaxe"]
	path = bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
